@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body{
    background-image: url(img/archive_bg-01.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: antiquewhite;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
}

section{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 20px;
    grid-auto-flow: dense;
}

a{
    color: #2e1509;
    font-size: 30px;
}

#home{
    padding-top: 150px;
    grid-column: 6 / span 3;
    text-align: center;
    padding-bottom: 50px;
}

#nav{
    grid-column: 6 / span 3;
    text-align: center;
}

.project_desc{
        font-size: 30px;
        padding-top: 120px;
        grid-column: 6 / span 3;
}

#project1{
    background-image: url(img/project1-01.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#project2{
    background-image: url(img/project2-01.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#project3{
    background-image: url(img/project3-01.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

