@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

body{
    background-image: url(img/archive_bg-01.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: whitesmoke;
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
}


section{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 20px;
    grid-auto-flow: dense;
}

#home{
    grid-column: 6 / span 3;
    text-align: center;
}

#project1{
    background-image: url(img/project1-01.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#project2{
    background-image: url(img/project2-01.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#project3{
    background-image: url(img/project3-01.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

